body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */



a { color: #379CB2;
    text-decoration: none;}
a:hover { color: #82E8FF; }


header {
  background: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 15%;

}

h1 {
  float: left;
  padding-left: 2%;
  margin-top: 10px;
  font-size: 250%;
}

nav {
    float: right;
    margin-top: 3px;
    padding-right: 4%;

}

nav ul {
  list-style: none;
}

nav li {
  float: left;
  margin-left:10px;
  padding: 10px;
  text-transform:uppercase;

}


article {
  -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
        box-sizing:border-box;
    float:left;
    width: 50%;
    color: #000;
    padding: 15px 20px;
    padding-top: 55px;
    padding-left: 15px;

}

h2 {
  text-align: left;
  padding-top: 60px;
  font-size: 200%;
}

section > p {
  text-align: center;
}

section {
  clear:both;

}

img {
  display:block;
  margin: auto;
}

div {
  float: left;
  margin: 10px;
  margin-top: 5px;
  padding-left: 15px;
}



#cougar {
    background-color: #B26219;
    padding: 10px;
    padding-top: 20px;
    overflow: auto;
    width:100%;
    margin-top: 45px;

}


#lion {
    background-color: #FFD5AE;
    padding: 10px;
    padding-top: 15px;
    overflow: auto;
    width:100%;
}


#tiger {

    background-color: #FFBD82;
    padding: 10px;
    padding-top: 15px;
    overflow: auto;
    width:100%;

}

footer {
  text-align: center;
  -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
        box-sizing:border-box;
    width: 600px;
    margin: 20px auto;
    font-size: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}
